// Body
$body-bg: #f8fafc;

// Colors
$neutral-100: #ffffff;
$neutral-200: #f7fafa;
$neutral-300: #dfe8e8;
$neutral-400: #929494;
$neutral-500: #414242;
$neutral-600: #141414;

$primary-100: #1c9fe6;
$primary-100: #188bc9;
$primary-100: #146c9c;
$primary-100: #0b415e;
$primary-100: #051f2e;
$primary-100: #03111a;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
